.back{
	background-image: url(../image/large.jpg);
	background-size: 100% 100%;
	background-repeat: repeat-x;
	padding-top: 14%;
	padding-bottom: 14%;
	
}
.labelURL{
	height: 5em;
	margin-left: 10%;
}
.inputUltimo{
	margin-left: 75% !important;
}
.formulario{
	background-color: white;
	width: 60%;
	height: 60%;
	margin-left: 25%;
	border-top: 5px solid blue;	
}
.pFormul{
	border-bottom: 2px solid gray;
	font-size: 150%;
	margin-left: 5%;
	margin-right:5%;
	padding-bottom: 1%; 
}
.power{
	display: inline-block;
}
.aPower{
	color: black;
	text-decoration: underline;
}
.report{
	color: black;
	margin-left: 35%;
	margin-top: -1%;
	position: absolute;
	text-decoration: underline;
}
.pRepor{
	display: inline-block;
}
.inp{
	height: 1.5em;
	margin-left: 10%;
}
.inp1{
	margin-left: 15%;
}
.dejame{
	padding-right: -5%;
}
.dos{
	margin-left: -6%;
	margin-right: 6%;
}
.dos1{
	margin-left: -8%;
}
.red{
	color: red;
}
.btn{
	margin-left: 15%;
}